params {
    samplesheet   = "samplesheet.csv"
    ref           = "/path/to/hg38.fa"
    outdir        = "results"

    // Resource defaults
    max_cpus      = 16
    max_memory    = "64.GB"
    max_time      = "48.h"
}

// Allas S3 configuration
aws {
    client {
        endpoint          = "https://a3s.fi"
        s3PathStyleAccess = true
        maxConnections    = 10
        connectionTimeout = 60000
        socketTimeout     = 60000
    }
    accessKey = System.getenv("AWS_ACCESS_KEY_ID")
    secretKey = System.getenv("AWS_SECRET_ACCESS_KEY")
    region    = "regionOne"
}

// Use Singularity on HPC (Puhti/Mahti)
singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "$HOME/.singularity/cache"
}

// SLURM executor for CSC
process {
    executor = "slurm"

    withName: 'PBSV_DISCOVER' {
        cpus   = 8
        memory = "32.GB"
        time   = "12.h"
        container = "quay.io/pacbio/pbsv:2.9.0_1.14_build1"
    }
    withName: 'PBSV_CALL' {
        cpus   = 16
        memory = "64.GB"
        time   = "24.h"
        container = "quay.io/pacbio/pbsv:2.9.0_1.14_build1"
    }
    withName: 'SNIFFLES2' {
        cpus   = 8
        memory = "32.GB"
        time   = "12.h"
        container = "quay.io/biocontainers/sniffles:2.4--pyhdfd78af_0"
    }
    withName: 'PB_CPG_TOOLS' {
        cpus   = 8
        memory = "16.GB"
        time   = "8.h"
        container = "docker.io/mgibio/pb-cpg-tools:latest"
    }
    withName: 'MODKIT_PILEUP' {
        cpus   = 8
        memory = "16.GB"
        time   = "8.h"
        container = "quay.io/biocontainers/ont-modkit:0.4.3--hcdda2d0_0"
    }
}

// Nextflow work dir - use scratch on CSC
workDir = "/scratch/project_2xxxxxxx/$USER/nf_work"
